body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}
